@import '../../colors/grey.css';

.shimmer {
  background-color: var(--grey-300);
  border-radius: 0.5rem;
  overflow: hidden;
  position: relative;
}

.shimmer::after {
  content: '';
  position: absolute;
  top: -50%;
  left: 0;
  right: 0;
  height: 200%;
  background: linear-gradient(135deg, transparent 35%, var(--grey-100) 50%, transparent 65%);
  transform: translateX(-100%);
  animation: shimmer-sweep 1.4s infinite;
}

@keyframes shimmer-sweep {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }
}
